.u-section-1 .u-sheet-1 {
  min-height: 172px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 458px;
  margin: 31px auto 44px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}